@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: #262A32;
    overflow: hidden;
}
header{
    position: absolute;
    z-index: 200;
    top: 0;
    display: flex;
    width: 100vw;
    height: 95px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(52,52,52,0) 0%, rgba(0,0,0,0.6) 100%) ;
}
header img{
    width: 100px;
    height: 95px;
    padding-left: 52px;
}
header ul{
    display: flex;
    gap: 67px;
    list-style: none;
}
header ul li:last-child{
    padding-right: 45px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.porsche h4{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: calc(30% - 110px);
    left: 22%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.porsche h1{
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: calc(35% - 110px);
    left: 25.6%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.porsche img{
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.startporsche{
    width: 200px;
    height: 60px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border-radius: 15px;
    position: absolute;
    top: calc(1024px - 350px);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    transition: left 1s ease;
    -webkit-box-shadow: 0px 7px 46px 25px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 7px 46px 25px rgba(0,0,0,0.26);
    box-shadow: 0px 7px 46px 25px rgba(0,0,0,0.26);
}
.arrow{
    width: 70px;
    height: 70px;
    border-radius: 28px;
    background-color: #00000031;
    border: none;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
}
.arrowpos{
    position: absolute;
    top: calc(1024px - 380px);
    right: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    gap: 15px;
}
.specs-porsche{
    position: absolute;
    bottom: 0;
    height: 20vh;
    width: calc(98.9vw - 23vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000;
    flex-wrap: wrap;
    transition: bottom 1s ease;
}
.specs-porsche div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    border-right: 1px solid #000;  
    height: 18vh;
}
.specs-porsche h1{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #fff;
}
.specs-porsche h4{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #fff;
}
.specs-porsche :last-child{
    border: none;
}
iframe{
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    box-shadow: 1px #000;
    transition: bottom 1s ease;
}

.mercedesbs img{
    position: absolute;
    top: 40%;
    left: 150%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}
.mercedesbs h4{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: calc(30% - 110px);
    left: 150%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mercedesbs h1{
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align:start;
    color: #fff;
    position: absolute;
    top: calc(35% - 110px);
    left: 150%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mercedesbs img, .porsche img {
    transition: left 1s ease;
}
.startmercedes{
    width: 200px;
    height: 60px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border-radius: 15px;
    position: absolute;
    top: calc(1024px - 350px);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    transition: left 1s ease;
    z-index: -1;
    -webkit-box-shadow: 0px 7px 46px 25px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 7px 46px 25px rgba(0,0,0,0.26);
    box-shadow: 0px 7px 46px 25px rgba(0,0,0,0.26);
}
.specs-mercedes{
    position: absolute;
    bottom: -25%;
    height: 20vh;
    width: calc(98.9vw - 23vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000;
    flex-wrap: wrap;
    transition: bottom 1s ease ;
}
.specs-mercedes div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    border-right: 1px solid #000;  
    height: 18vh;
}
.specs-mercedes h1{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #fff;
}
.specs-mercedes h4{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #fff;
}
.specs-mercedes :last-child{
    border: none;
}
